#!/usr/bin/env python
# -*- coding: utf-8 -*-

""":Mod: properties.py

:Synopsis:
 
:Author:
    servilla

:Created:
    11/9/17
"""

# Twitter application identification and credentials
CONSUMER_KEY = 'SECRET'
CONSUMER_SECRET = 'SECRET'
ACCESS_KEY = 'SECRET'
ACCESS_SECRET = 'SECRET'
