#!/usr/bin/env python
# -*- coding: utf-8 -*-

""":Mod: properties.py

:Synopsis:
 
:Author:
    servilla

:Created:
    11/9/17
"""

DEBUG=False

# Twitter application identification and credentials
CONSUMER_KEY = 'SECRET'
CONSUMER_SECRET = 'SECRET'
ACCESS_KEY = 'SECRET'
ACCESS_SECRET = 'SECRET'

# PASTA Data Package Manager Server Addresses
WHITE_LIST = ('129.24.124.76', '129.24.124.169', '129.24.124.31', )

PASTA = "pasta.lternet.edu"
PORTAL = "portal.edirepository.org"